@use "variables" as *;

.logo-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 160px;

  @include mqmax(large) {
    height: 60px;
    width: 100%;
  }

  img {
    display: block;
    height: 160px;
    @include mqmax(large) {
      height: 60px;
    }
  }
}

.logo-left {
  justify-self: left;
}

.logo-right {
  justify-self: right;

  @include mqmax(large) {
    position: absolute;
    right: 60px;
  }
}

.nav-icon-a {
  appearance: button;
  transition: 0.3s;
  height: 60px;
  width: 60px;
  position: absolute;
  right: 0px;
  // margin: calc(60px / 4);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primaryColorDark;

  &:active,
  &:hover {
    background-color: $primaryColor;
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  @include mq(large) {
    display: none;
  }
}

.nav-icon {
  height: 30px;
  width: 30px;
}

.fixed {
  font-size: 16px;
  @include mq(large) {
    position: fixed;
    top: 0;
    z-index: 100;
  }
}

.nav-list {
  width: 1440px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: $primaryColorDark;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  list-style: none;

  @include mqmax(large) {
    display: none;
  }

  li {
    width: 100%;
  }

  a {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    appearance: button;
    font-size: 22px;
    letter-spacing: 0.05em;
    font-family: $fontPrimary;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: auto;
    transition: 0.3s;
    color: $white;

    &:active,
    &:hover {
      background-color: $primaryColor;
      color: $secondaryColorDark;
    }
  }
}

.responsive-nav-list {
  display: block;
  z-index: 80;
  float: none;
  text-align: left;
  position: absolute;
  width: 100%;
  padding: 0;
  background-color: $primaryColor;
  top: 60px;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-direction: alternate;

  li {
    // margin-left: -0.5em;
    a {
      border-bottom: 1px solid $primaryColorDark;
      font-size: 20px;
      color: $secondaryColorDark;
      height: 50px;
    }
  }
}

.hero-header {
  height: 540px;

  @include mqmax(large) {
    height: 100%;
  }
  .hero-inner {
    display: none;
    @include mqmax(large) {
      height: 100%;
    }
  }

  img {
    display: block;
    max-height: 540px;
    max-width: 1440px;

    @include mqmax(large) {
      max-width: 100%;
    }
  }
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

// Progress bar
#progress {
  width: 100%;
  background-color: rgba($secondaryColor, 0.3);
}

#progressBar {
  width: 0%;
  height: 5px;
  background-color: $primaryColor;
}

.alert-inner {
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  height: 160px;
  background-color: $primaryColorDark;
  color: $white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  font-family: $fontPrimary;
  letter-spacing: 0.05em;

  @include mqmax(large) {
    height: 100px;
    max-width: 100vw;
  }

  h3 {
    font-size: 25px;
    margin: 15px;
    @include mqmax(large) {
      font-size: 18px;
      margin: 5px;
    }
  }
}
