@charset "UTF-8";
@font-face {
  font-family: "Proxima Nova";
  src: url(/src/font/ProximaNova-Regular.otf);
}
@font-face {
  font-family: "Open Sans";
  src: url(/src/font/OpenSans-Regular.ttf);
}
.logo-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 160px;
}
@media screen and (max-width: 1440px) {
  .logo-row {
    height: 60px;
    width: 100%;
  }
}
.logo-row img {
  display: block;
  height: 160px;
}
@media screen and (max-width: 1440px) {
  .logo-row img {
    height: 60px;
  }
}

.logo-left {
  justify-self: left;
}

.logo-right {
  justify-self: right;
}
@media screen and (max-width: 1440px) {
  .logo-right {
    position: absolute;
    right: 60px;
  }
}

.nav-icon-a {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  transition: 0.3s;
  height: 60px;
  width: 60px;
  position: absolute;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00cc00;
}
.nav-icon-a:active, .nav-icon-a:hover {
  background-color: #a2f800;
}
@media (min-width: 1440px) {
  .nav-icon-a {
    display: none;
  }
}

.nav-icon {
  height: 30px;
  width: 30px;
}

.fixed {
  font-size: 16px;
}
@media (min-width: 1440px) {
  .fixed {
    position: fixed;
    top: 0;
    z-index: 100;
  }
}

.nav-list {
  width: 1440px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #00cc00;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  list-style: none;
}
@media screen and (max-width: 1440px) {
  .nav-list {
    display: none;
  }
}
.nav-list li {
  width: 100%;
}
.nav-list a {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  font-size: 22px;
  letter-spacing: 0.05em;
  font-family: "Proxima Nova", "Open Sans", sans-serif;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: auto;
  transition: 0.3s;
  color: #ffffff;
}
.nav-list a:active, .nav-list a:hover {
  background-color: #a2f800;
  color: #333333;
}

.responsive-nav-list {
  display: block;
  z-index: 80;
  float: none;
  text-align: left;
  position: absolute;
  width: 100%;
  padding: 0;
  background-color: #a2f800;
  top: 60px;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
.responsive-nav-list li a {
  border-bottom: 1px solid #00cc00;
  font-size: 20px;
  color: #333333;
  height: 50px;
}

.hero-header {
  height: 540px;
}
@media screen and (max-width: 1440px) {
  .hero-header {
    height: 100%;
  }
}
.hero-header .hero-inner {
  display: none;
}
@media screen and (max-width: 1440px) {
  .hero-header .hero-inner {
    height: 100%;
  }
}
.hero-header img {
  display: block;
  max-height: 540px;
  max-width: 1440px;
}
@media screen and (max-width: 1440px) {
  .hero-header img {
    max-width: 100%;
  }
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
#progress {
  width: 100%;
  background-color: rgba(153, 153, 153, 0.3);
}

#progressBar {
  width: 0%;
  height: 5px;
  background-color: #a2f800;
}

.alert-inner {
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  height: 160px;
  background-color: #00cc00;
  color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  font-family: "Proxima Nova", "Open Sans", sans-serif;
  letter-spacing: 0.05em;
}
@media screen and (max-width: 1440px) {
  .alert-inner {
    height: 100px;
    max-width: 100vw;
  }
}
.alert-inner h3 {
  font-size: 25px;
  margin: 15px;
}
@media screen and (max-width: 1440px) {
  .alert-inner h3 {
    font-size: 18px;
    margin: 5px;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  height: 75px;
  text-align: center;
  color: #ffffff;
  background-color: #999999;
}
@media screen and (max-width: 1440px) {
  footer {
    height: 50px;
    font-size: 14px;
    width: 100%;
  }
}
footer a {
  text-decoration: none;
  color: #ffffff;
  transition: 0.3s;
}
footer a:active, footer a:hover {
  color: #333333;
}

.about-inner {
  font-size: 18px;
}
@media screen and (max-width: 1440px) {
  .about-inner {
    font-size: 14px;
  }
}
.about-inner p {
  margin-top: 16px;
}
.about-inner ul {
  list-style: none;
  line-height: 160%;
}
.about-inner ul li::before {
  content: "▰";
  color: #00cc00;
  font-weight: bold;
  display: inline-block;
  width: 1.5em;
  margin-left: 0em;
}

.committees-inner .two-col {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1440px) {
  .committees-inner .two-col {
    flex-direction: column;
  }
}
.committees-inner ul {
  font-size: 18px;
  margin-bottom: 32px;
  list-style: none;
  line-height: 160%;
}
@media screen and (max-width: 1440px) {
  .committees-inner ul {
    font-size: 14px;
  }
  .committees-inner ul:first-child {
    margin-bottom: 0px;
  }
}
.committees-inner ul li::before {
  content: "▰";
  color: #00cc00;
  font-weight: bold;
  display: inline-block;
  width: 1.5em;
  margin-left: 0em;
}

.venue-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (max-width: 1440px) {
  .venue-inner-2 {
    flex-direction: column-reverse;
    overflow: hidden;
  }
}
.venue-text {
  display: block;
}
@media (min-width: 1440px) {
  .venue-text {
    max-width: 660px;
  }
}
.venue-text p {
  margin-bottom: 16px;
}
@media screen and (max-width: 1440px) {
  .venue-text p {
    font-size: 14px;
  }
}
.venue-text a {
  text-decoration: none;
  color: #00cc00;
  transition: 0.3s;
}
.venue-text a:hover {
  color: #333333;
}
.venue-image {
  position: relative;
  width: 600px;
  height: 400px;
  margin-top: 30px;
  margin-right: 30px;
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 576px) {
  .venue-image {
    height: 30vh !important;
  }
}
@media screen and (max-width: 1440px) {
  .venue-image {
    width: 100vw;
    height: 60vh;
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .venue-image::before {
    content: "";
    position: absolute;
    bottom: -30px;
    right: -30px;
    width: 660px;
    height: 460px;
    background-image: linear-gradient(#00cc00, white);
    z-index: -10;
  }
}
.venue-image-1 {
  background-image: url("/src/img/feature-1.png");
}
.venue-image-2 {
  background-image: url("/src/img/feature-2.png");
}
@media (min-width: 1440px) {
  .venue-image-2 {
    margin-left: 30px;
  }
}
.venue-image-2::before {
  transform: rotate(180deg);
}

.info-inner {
  display: flex;
}
@media screen and (max-width: 1440px) {
  .info-inner {
    flex-direction: column;
  }
}
@media (min-width: 1440px) {
  .info-nav {
    flex: 1;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    margin-right: 30px;
  }
}
@media screen and (max-width: 1440px) {
  .info-nav {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
}
.info-nav ul {
  list-style: none;
}
.info-nav li {
  margin-bottom: 66px;
  text-decoration: none;
  color: black;
  transition: 0.3s;
  font-size: 22px;
  transition: all 0.3s ease;
}
@media screen and (max-width: 1440px) {
  .info-nav li {
    font-size: 20px;
    margin-bottom: 10px;
  }
}
.info-nav li:hover {
  cursor: pointer;
  color: #00cc00;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}
.info-nav li.active {
  color: #00cc00;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}
.info-text {
  flex: 4;
}
.info-text p {
  margin-bottom: 16px;
}
@media screen and (max-width: 1440px) {
  .info-text p {
    font-size: 14px;
  }
}
.info-text ul {
  font-size: 18px;
  margin-bottom: 32px;
  list-style: none;
  line-height: 160%;
}
@media screen and (max-width: 1440px) {
  .info-text ul {
    font-size: 14px;
  }
  .info-text ul:first-child {
    margin-bottom: 0px;
  }
}
.info-text ul li::before {
  content: "▰";
  color: #00cc00;
  font-weight: bold;
  display: inline-block;
  width: 1.5em;
  margin-left: 0em;
}
.info-text a {
  text-decoration: none;
  color: #00cc00;
  transition: 0.3s;
}
.info-text a:hover {
  color: #333333;
}

.contact-inner {
  display: flex;
}
@media screen and (max-width: 1440px) {
  .contact-inner {
    flex-direction: column;
  }
}
.contact-text {
  flex: 1;
}
.contact-text ul {
  list-style: none;
  margin-bottom: 1em;
  line-height: 180%;
}
@media screen and (max-width: 1440px) {
  .contact-text ul {
    font-size: 14px;
  }
}
.contact-map {
  flex: 1;
  height: 406px;
}
@media screen and (max-width: 1440px) {
  .contact-map {
    height: 260px;
  }
}
.contact-map iframe {
  display: block;
  height: 360px;
}
@media screen and (max-width: 1440px) {
  .contact-map iframe {
    height: 260px;
  }
}

.to-top {
  position: -webkit-sticky;
  position: sticky;
  top: 90vh;
  z-index: 90;
}
.to-top-1 {
  height: 60px;
  width: 60px;
  right: -80px;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  transform: skew(-15deg) scaleX(1.15);
  background-color: #a2f800;
  position: absolute;
}
@media screen and (max-width: 1440px) {
  .to-top-1 {
    height: 40px;
    width: 40px;
    right: 40px;
  }
}
.to-top-2 {
  right: -80px;
  height: 60px;
  width: 60px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  transform: skew(-5deg);
  background-color: #00cc00;
  position: absolute;
  transition: 0.3s;
}
@media screen and (max-width: 1440px) {
  .to-top-2 {
    right: 40px;
    height: 40px;
    width: 40px;
  }
}
.to-top-2:hover {
  box-shadow: 0 8px 8px 2px rgba(0, 0, 0, 0.3);
}
.to-top-arrow {
  height: 50px;
  width: 50px;
  transform: skew(5deg);
  position: absolute;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1440px) {
  .to-top-arrow {
    height: 30px;
    width: 30px;
  }
}
.to-top-arrow:hover {
  filter: invert(100%);
}
.to-top-arrow img {
  position: absolute;
  left: 7.5px;
  top: 5px;
}

.cc-nb-title {
  font-family: "Proxima Nova", "Open Sans", sans-serif !important;
}

.cc-nb-text {
  font-family: "Open Sans", sans-serif !important;
}

.cc-nb-okagree,
.cc-nb-reject {
  background-color: #00cc00 !important;
  font-family: "Proxima Nova", "Open Sans", sans-serif !important;
  transition: 0.3s !important;
  color: #ffffff !important;
}
.cc-nb-okagree:active, .cc-nb-okagree:hover,
.cc-nb-reject:active,
.cc-nb-reject:hover {
  background-color: #a2f800 !important;
  color: #333333 !important;
}

.cc-nb-changep {
  font-family: "Proxima Nova", "Open Sans", sans-serif !important;
  transition: 0.3s !important;
}
.cc-nb-changep:active, .cc-nb-changep:hover {
  background-color: #333333 !important;
  color: #ffffff !important;
}

.sponsor-inner {
  display: block !important;
}
.sponsor-grid {
  display: flex;
}
@media screen and (max-width: 1440px) {
  .sponsor-grid {
    flex-direction: column;
  }
}
.sponsor-item {
  border: 2px solid #00cc00;
  flex: 1;
  margin: 7px;
  padding-bottom: 0px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.sponsor-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sponsor-header h2 {
  font-size: 22px;
  margin-top: 50px;
  margin-bottom: 25px;
}
.sponsor-header img {
  margin-top: 25px;
  margin-bottom: 25px;
  height: 165px;
}
.sponsor-header h3 {
  color: #00cc00;
  font-size: 36px;
  margin-top: 25px;
  margin-bottom: 50px;
}
.sponsor-text {
  background-color: #f0f0f0;
}
.sponsor-text ul {
  font-size: 18px;
  line-height: 180%;
  list-style: none;
  margin: 10px 10px 0 10px;
  padding-left: 0.65em;
  text-indent: -0.65em;
}
.sponsor-text ul li {
  margin-left: 0.65em;
}
.sponsor-text ul li::before {
  content: "✓";
  color: #00cc00;
  font-weight: bold;
  display: inline-block;
  width: 0.65em;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  font-size: 1.125em;
}

.mother {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.hidden {
  display: none;
}

.holder {
  scroll-margin-top: 100px;
  max-width: 1440px;
  margin: auto;
  justify-content: center;
}
@media screen and (max-width: 1440px) {
  .holder {
    max-width: 95vw;
  }
}
.holder-sm {
  width: 90vw;
  margin: 5em auto;
}
.holder-header {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  height: 150px;
  width: 625px;
}
@media screen and (max-width: 1440px) {
  .holder-header {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80vw;
    height: 100px;
  }
}
.holder-header h2 {
  font-family: "Proxima Nova", "Open Sans", sans-serif;
  font-weight: 100;
  font-size: 30px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  transform: skew(0);
}
@media screen and (max-width: 1440px) {
  .holder-header h2 {
    font-size: 20px;
  }
}
.holder .rect1 {
  height: 150px;
  width: 625px;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  transform: skew(-20deg) scaleX(1.045);
  background-color: #a2f800;
  position: absolute;
}
@media screen and (max-width: 1440px) {
  .holder .rect1 {
    width: 80vw;
    height: 100px;
  }
}
.holder .rect2 {
  height: 150px;
  width: 625px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  transform: skew(-10deg);
  background-color: #00cc00;
  position: absolute;
}
@media screen and (max-width: 1440px) {
  .holder .rect2 {
    width: 80vw;
    height: 100px;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-top {
  align-items: unset;
}

.no-border {
  border: 0;
}

h3 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 16px;
}
@media screen and (max-width: 1440px) {
  h3 {
    font-size: 18px;
    margin-bottom: 12px;
  }
}

.mt-20 {
  margin-top: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

@media (min-width: 1440px) {
  .fixed + .hero-header {
    padding-top: 90px;
  }
}/*# sourceMappingURL=style.css.map */