@use "components/variables" as *;
@use "components/header" as *;
@use "components/footer" as *;
@use "components/about" as *;
@use "components/committees" as *;
@use "components/venue" as *;
@use "components/info" as *;
@use "components/contact" as *;
@use "components/top" as *;

* {
  margin: 0;
  padding: 0;
  //debug overflow
  // outline: 1px solid red;
  // overflow-x: auto;
}

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: $fontSecondary;
  font-size: 1.125em;
}

.mother {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.hidden {
  display: none;
}

.holder {
  scroll-margin-top: 100px;
  max-width: 1440px;
  margin: auto;
  justify-content: center;
  &-sm {
    width: 90vw;
    margin: 5em auto;
  }
  &-header {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    height: 150px;
    width: 625px;

    h2 {
      font-family: $fontPrimary;
      font-weight: 100;
      font-size: 30px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: $white;
      transform: skew(0);
    }
  }
  .rect1 {
    height: 150px;
    width: 625px;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    transform: skew(-20deg) scaleX(1.045);
    background-color: $primaryColor;
    position: absolute;
  }
  .rect2 {
    height: 150px;
    width: 625px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    transform: skew(-10deg);
    background-color: $primaryColorDark;
    position: absolute;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-top {
  align-items: unset;
}

.no-border {
  border: 0;
}

h3 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 16px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.fixed + .hero-header {
  padding-top: 90px;
}
