@charset "UTF-8";
@font-face {
  font-family: "Proxima Nova";
  src: url(/src/font/ProximaNova-Regular.otf);
}
@font-face {
  font-family: "Open Sans";
  src: url(/src/font/OpenSans-Regular.ttf);
}
.logo-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 160px;
}
.logo-row img {
  height: 160px;
}

.logo-left {
  justify-self: left;
}

.logo-right {
  justify-self: right;
}

.fixed {
  position: fixed;
  top: 0;
  z-index: 100;
}

.nav-list {
  width: 1440px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #00cc00;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  list-style: none;
}
.nav-list li {
  width: 100%;
}
.nav-list a {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  font-size: 22px;
  letter-spacing: 0.05em;
  font-family: "Proxima Nova", "Open Sans", sans-serif;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: auto;
  transition: 0.3s;
  color: #ffffff;
}
.nav-list a:active, .nav-list a:hover {
  background-color: #a2f800;
  color: #333333;
}

.hero-header {
  height: 540px;
}
.hero-header img {
  max-height: 540px;
  max-width: 1440px;
}

.alert-inner {
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  height: 160px;
  background-color: #00cc00;
  color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  font-family: "Proxima Nova", "Open Sans", sans-serif;
  letter-spacing: 0.05em;
}
.alert-inner h3 {
  font-size: 25px;
}

footer {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  height: 75px;
  text-align: center;
  color: #ffffff;
  background-color: #999999;
}
footer a {
  text-decoration: none;
  color: #ffffff;
  transition: 0.3s;
}
footer a:active, footer a:hover {
  color: #333333;
}

.about-inner {
  font-size: 18px;
}
.about-inner p {
  margin-top: 16px;
}
.about-inner ul {
  list-style: none;
  line-height: 160%;
}
.about-inner ul li::before {
  content: "▰";
  color: #00cc00;
  font-weight: bold;
  display: inline-block;
  width: 1.5em;
  margin-left: 0em;
}

.committees-inner .two-col {
  display: flex;
  justify-content: space-between;
}
.committees-inner ul {
  font-size: 18px;
  margin-bottom: 32px;
  list-style: none;
  line-height: 160%;
}
.committees-inner ul li::before {
  content: "▰";
  color: #00cc00;
  font-weight: bold;
  display: inline-block;
  width: 1.5em;
  margin-left: 0em;
}

.venue-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.venue-text {
  display: block;
}
@media (min-width: 1200px) {
  .venue-text {
    max-width: 660px;
  }
}
.venue-text p {
  margin-bottom: 16px;
}
.venue-text a {
  text-decoration: none;
  color: #00cc00;
  transition: 0.3s;
}
.venue-text a:hover {
  color: #333333;
}
.venue-image {
  position: relative;
  width: 600px;
  height: 400px;
  margin-top: 30px;
  margin-right: 30px;
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.venue-image::before {
  content: "";
  position: absolute;
  bottom: -30px;
  right: -30px;
  width: 660px;
  height: 460px;
  background-image: linear-gradient(#00cc00, white);
  z-index: -10;
}
.venue-image-1 {
  background-image: url("/src/img/feature-1.png");
}
.venue-image-2 {
  background-image: url("/src/img/feature-2.png");
  margin-left: 30px;
}
.venue-image-2::before {
  transform: rotate(180deg);
}

.info-inner {
  display: flex;
}
.info-nav {
  flex: 1;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  margin-right: 30px;
}
.info-nav ul {
  list-style: none;
}
.info-nav li {
  margin-bottom: 66px;
  text-decoration: none;
  color: black;
  transition: 0.3s;
  font-size: 22px;
  transition: all 0.3s ease;
}
.info-nav li:hover {
  cursor: pointer;
  color: #00cc00;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}
.info-nav li.active {
  color: #00cc00;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}
.info-text {
  flex: 4;
}
.info-text p {
  margin-bottom: 16px;
}

.contact-inner {
  display: flex;
}
.contact-text {
  flex: 1;
}
.contact-text ul {
  list-style: none;
  margin-bottom: 1em;
  line-height: 180%;
}
.contact-map {
  flex: 1;
  height: 406px;
}
.contact-map iframe {
  height: 360px;
}

.to-top {
  position: -webkit-sticky;
  position: sticky;
  top: 90vh;
}
.to-top-1 {
  height: 60px;
  width: 60px;
  right: -80px;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  transform: skew(-15deg) scaleX(1.15);
  background-color: #a2f800;
  position: absolute;
}
.to-top-2 {
  right: -80px;
  height: 60px;
  width: 60px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  transform: skew(-5deg);
  background-color: #00cc00;
  position: absolute;
  transition: 0.3s;
}
.to-top-2:hover {
  box-shadow: 0 8px 8px 2px rgba(0, 0, 0, 0.3);
}
.to-top-arrow {
  height: 50px;
  width: 50px;
  transform: skew(5deg);
  position: absolute;
  transition: 0.3s;
}
.to-top-arrow:hover {
  filter: invert(100%);
}
.to-top-arrow img {
  position: absolute;
  left: 7.5px;
  top: 5px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  font-size: 1.125em;
}

.mother {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.hidden {
  display: none;
}

.holder {
  scroll-margin-top: 100px;
  max-width: 1440px;
  margin: auto;
  justify-content: center;
}
.holder-sm {
  width: 90vw;
  margin: 5em auto;
}
.holder-header {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  height: 150px;
  width: 625px;
}
.holder-header h2 {
  font-family: "Proxima Nova", "Open Sans", sans-serif;
  font-weight: 100;
  font-size: 30px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  transform: skew(0);
}
.holder .rect1 {
  height: 150px;
  width: 625px;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  transform: skew(-20deg) scaleX(1.045);
  background-color: #a2f800;
  position: absolute;
}
.holder .rect2 {
  height: 150px;
  width: 625px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  transform: skew(-10deg);
  background-color: #00cc00;
  position: absolute;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-top {
  align-items: unset;
}

.no-border {
  border: 0;
}

h3 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 16px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.fixed + .hero-header {
  padding-top: 90px;
}/*# sourceMappingURL=style.css.map */